@charset "ISO-8859-1";

.home{
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	
	background-image: url('Images/mainPageSunset.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment:fixed;
}

.name {
	font-family: 'Courier';
	text-align: center;
	margin: 5px;
}

.btn{
	padding: 10px;
	font-family: 'Courier';
	font-weight: bold;
	font-size: 16px; 
	width: 100%;
	background: transparent;
	backdrop-filter: blur(15px);
	border-radius: 15px;
	cursor: pointer;
}

.aHome{
	width: 100%;
}

#secondbtn{
	margin: 5px;
}

.mainpage{
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 34%;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.ulnav{
	list-style-type: none;
	margin: 0;
	padding: 0;	
}

.navbar{
	position: fixed;
	background-color: #426b69;
	top:0;
	width:100%;
	z-index:100;
	height: min(10vw, 90px);
	padding: .5vw;
}

.linav{
	float:left;
}

.aNav{
	display:block;
	padding: 2.5vw;
	color: #d8e2dc;
	text-decoration: none;
	font-size: min(4vw, 25px);
	
}

.aNav.Menu{
	float:right;
	padding-right: 2vw;
}

.pers{
	margin:0;
	background-color: #d8e2dc;

}

.content-width{
	width: 100%;
	max-width: 1200px;
	margin: auto;
}

.topdivpers{
	position: relative;
	margin-top: 15vh;
	margin-left: 15px;
	margin-right: 15px;
	display:flex;
	align-items:center;
	justify-content: center;
	transition: opacity 0.2s ease-out;
}

.imgPers{
	max-width:100%;
	max-height:100%;
	border-style:solid;
	border-width:2px;
}

.aboutMeImg{
	float:left;
	max-width: 50%;
}

.aboutme{
	max-width:100%;
	margin: 20px;
}

.aboutmeText{
	font-size: 16px;
}

.edu{
	margin: 10px;
	transition: opacity 0.2s ease-out;
}

.content{
	text-align: center;
	font-size: 40px;
	margin-top: 150px;
	margin-bottom:5px;
}

.aboutmeText.margin{
	margin: 10px 5px;
}

.HobbiesInfo{
	margin: 10px;
	display:flex;
	align-items:center;
	justify-content: center;
}

.hobbiesimg{
	max-width: 50%;
	height: 100%;
	display: flex;
	border-style:none;
}

.hobbiesimg img {
	max-height: 500px;
    width: 100%;
    height: auto; 
    object-fit: contain;
	border-style:solid;
	border-width:2px;
}

.aboutme.hobbies {
    flex: 1;
}

.aNav:hover{
	color: #353839;
	cursor: pointer;
}

.eduFiles{
	max-width: 30%;
	height: 300px;
	flex:1;
	padding: 10px;
}
.eduRow{
	display: flex;
	justify-content:center;
	align-items:center;
	height: 100%;
}
iframe.eduFiles{
	border:none;
}

.uofuP{
	clear: both;
	font-size: 18px;
	margin: 10px 5px;
}

.hobbies2{
	font-size: 18px;
	text-align: center;
	margin-top: 5vh;
}

#socials {
	display: none;
	position: absolute;
	right: 0;
	top: 100%;
}

.aNav.links{
	background-color: #426b69;
	border-style:solid;
	border-width:1px;
	border-color: black;
	border-radius: 5px;
	text-align: center;
	font-size: 16px;
}

/* template from W3 schools  */
.portfolio-header {
	text-align: center;
}

.portfolio-container{
	margin: 1vw 5vh;
}

.portfolio-blurbs {
	font-size: 18px;
	background-color: #bdc5c4;
	border-radius: .5vw;
	margin: 5vw 1vw;
	padding: .2vh 2vw .5vw;
}

.portfolio-subtext{
	font-size: 20px;
}

.topdivportfolio{
	position: relative;
	margin-top: 16vh;
	margin-left: 15px;
	margin-right: 15px;
	display:flex;
	align-items:center;
	justify-content: center;
	font-size: 18px;
	text-align: center;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  width: 100vw;
  padding: 2vw;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev{
	left:0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(70, 63, 63, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #131313;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

video{
	width: 50vw;
}

.dots{
	padding-bottom: 1vw;
	margin: 0;
	text-align: center;
}

.active, .dot:hover {
  background-color: #726b6b;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

