@charset "ISO-8859-1";

.home{
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	
	background-image: url('Images/mainPageSunset.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment:fixed;
}

.name {
	font-family: 'Courier';
	text-align: center;
	margin: 5px;
}

.btn{
	padding: 10px;
	font-family: 'Courier';
	font-weight: bold;
	font-size: 16px; 
	width: 100%;
	background: transparent;
	backdrop-filter: blur(15px);
	border-radius: 15px;
	cursor: pointer;
}

.aHome{
	width: 100%;
}

#secondbtn{
	margin: 5px;
}

.mainpage{
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 34%;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.ulnav{
	list-style-type: none;
	margin: 0;
	padding: 0;	
}

.navbar{
	position: fixed;
	background-color: #426b69;
	top:0;
	width:100%;
	z-index:100;
	height: min(10vw, 90px);
	padding: .5vw;
}

.linav{
	float:left;
}

.aNav{
	display:block;
	padding: 2.5vw;
	color: #d8e2dc;
	text-decoration: none;
	font-size: min(4vw, 25px);
	
}

.aNav.Menu{
	float:right;
	padding-right: 2vw;
}

.pers{
	margin:0;
	background-color: #d8e2dc;

}

.content-width{
	width: 100%;
	max-width: 1200px;
	margin: auto;
}

.topdivpers{
	position: relative;
	margin-top: 15vh;
	margin-left: 15px;
	margin-right: 15px;
	display:flex;
	align-items:center;
	justify-content: center;
	transition: opacity 0.2s ease-out;
}

.imgPers{
	max-width:100%;
	max-height:100%;
	border-style:solid;
	border-width:2px;
}

.aboutMeImg{
	float:left;
	max-width: 50%;
}

.aboutme{
	max-width:100%;
	margin: 20px;
}

.aboutmeText{
	font-size: 18px;
}

.edu{
	margin: 10px;
	transition: opacity 0.2s ease-out;
}

.content{
	text-align: center;
	font-size: 40px;
	margin-top: 150px;
	margin-bottom:5px;
}

.aboutmeText.margin{
	margin: 10px 5px;
}

.HobbiesInfo{
	margin: 10px;
	display:flex;
	align-items:center;
	justify-content: center;
}

.hobbiesimg{
	float:right;
	max-width: 50%;
}

.aboutme.hobbies{
	float:left;
}

.aNav:hover{
	color: #353839;
	cursor: pointer;
}

.eduFiles{
	max-width: 30%;
	height: 300px;
	flex:1;
	padding: 10px;
}
.eduRow{
	display: flex;
	justify-content:center;
	align-items:center;
	height: 100%;
}
iframe.eduFiles{
	border:none;
}

.uofuP{
	clear: both;
	font-size: 18px;
	margin: 10px 5px;
}

.hobbies2{
	font-size: 18px;
	text-align: center;
	margin-top: 5vh;
}

#socials {
	display: none;
	position: absolute;
	right: 0;
	top: 100%;
}

.aNav.links{
	background-color: #426b69;
	border-style:solid;
	border-width:1px;
	border-color: black;
	border-radius: 5px;
	text-align: center;
	font-size: 16px;
}

/*
	Caved and used a template, inspiration from https://codepen.io/luxonauta/pen/QWEWvmB
*/
.carousel-container {
	width: 80%;
	margin: auto;
	padding-bottom: 20px;
	position: relative;
	display: flex;
	flex-direction: column;
  
	.carousel {
	  aspect-ratio: 16/9;
	  width: 100%;
	  position: relative;
	  overflow: hidden;

  
	  .item {
		opacity: 0;
		width: 100%;
		height: 100%;
		display: none;
		transition: opacity 0.5s ease-in-out;
  
		img {
		  width: 100%;
		  height: 100%;
		  object-fit: cover;
		  object-position: center;
		}
  
		&.active {
		  opacity: 1;
		  display: block;
		}
	  }
	}
  
	.btn {
	  padding: 1vw 1.5vh;
	  position: absolute;
	  transform: translateY(-50%);
	  top: 50%;
	  outline: none;
	  border: none;
	  cursor: pointer;
	  text-transform: uppercase;
	  font-size: 12px;
	  font-weight: 900;
	  color: #10100e;
	  background-color: #ffffe6;
	  transition: transform 0.2s ease-in-out;
	  width: 20px;
	  text-align: start;
  
	  &:active,
	  &:focus {
		transform: translateY(-50%) scale(0.9);
	  }
  
	  &:hover {
		transform: translateY(-50%) scale(0.96);
	  }
	}
  
	.prev {
	  left: -5%;
	}
  
	.next {
	  right: -5%;
	}
}

.portfolio-header {
	text-align: center;
}

.portfolio-container{
	margin: 1vw 5vh;
}

.portfolio-blurbs {
	font-size: 18px;
	background-color: #bdc5c4;
	border-radius: .5vw;
	margin: 5vw 1vw;
	padding: .2vh 2vw .5vw;
}

.portfolio-subtext{
	font-size: 20px;
}

.topdivportfolio{
	position: relative;
	margin-top: 16vh;
	margin-left: 15px;
	margin-right: 15px;
	display:flex;
	align-items:center;
	justify-content: center;
	font-size: 18px;
	text-align: center;
}


